## Share of primary energy from renewable sources

+ [Data source](https://ourworldindata.org/grapher/renewable-share-energy)
+ File: `renewable-share-energy`
+ Format: `csv`
+ [Definition](https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Primary_energy_consumption)

In [1]:
import os
import sys
import numpy as np
import json
import pandas as pd

# hack to be able to load modules from parent directory
sys.path.insert(0, os.path.dirname(os.getcwd()))

### 1. Load data

In [2]:
prim_nrg_data = pd.read_csv('../data/renewable-share-energy.csv')

In [3]:
prim_nrg_data.head()

   Entity Code  Year  Renewables (% sub energy)
0  Africa  NaN  1965                      5.537
1  Africa  NaN  1966                      5.873
2  Africa  NaN  1967                      6.080
3  Africa  NaN  1968                      6.743
4  Africa  NaN  1969                      7.683

Rename columns:

In [4]:
old_names = list(prim_nrg_data.columns)
new_names = ['country', 'code', 'year', 'prim_nrg_share_renewables']
names_dict = dict(zip(old_names, new_names))
prim_nrg_data.rename(columns=names_dict, inplace=True)
prim_nrg_data.head()

  country code  year  prim_nrg_share_renewables
0  Africa  NaN  1965                      5.537
1  Africa  NaN  1966                      5.873
2  Africa  NaN  1967                      6.080
3  Africa  NaN  1968                      6.743
4  Africa  NaN  1969                      7.683

---
### 3. Filter data
Select countries of intereset, based on availability of data in IEA Energy Technology RD&D Budgets data set:

In [5]:
# load json file containing selected countries as dict
fpath = '../data/rdd_to_owid.json'
with open(fpath, 'r') as file:
    rdd_to_owid = json.load(file)

In [6]:
rdd_to_owid

{'Austria': 'Austria',
 'Canada': 'Canada',
 'Denmark': 'Denmark',
 'Finland': 'Finland',
 'France': 'France',
 'Germany': 'Germany',
 'Italy': 'Italy',
 'Japan': 'Japan',
 'Netherlands': 'Netherlands',
 'New Zealand': 'New Zealand',
 'Norway': 'Norway',
 'Spain': 'Spain',
 'Sweden': 'Sweden',
 'Switzerland': 'Switzerland',
 'United Kingdom': 'United Kingdom',
 'United States': 'United States'}

In [7]:
# get list of selected countries
selected = list(rdd_to_owid.values())

In [8]:
# filter data by selected countries
prim_nrg_data = prim_nrg_data[prim_nrg_data['country'].isin(selected)].reset_index(drop=True)
prim_nrg_data.head()

   country code  year  prim_nrg_share_renewables
0  Austria  AUT  1965                     23.940
1  Austria  AUT  1966                     24.660
2  Austria  AUT  1967                     24.931
3  Austria  AUT  1968                     23.942
4  Austria  AUT  1969                     21.212

---
### 3. Save data set

In [9]:
# save file in case it does not yet exist
outpath = '../data/prim_nrg_data_selected.csv'
if not os.path.exists(outpath):
    prim_nrg_data.to_csv(outpath, index=False)